<div id="<%= dom_id line_item %>">
  <p>
    <strong>Cant prod:</strong>
    <%= line_item.cant_prod %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= line_item.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= line_item.product_id %>
  </p>

</div>
